<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://mysticle.youtube/YouTubeAdFree" version="0.5.3" viewmodes="fullscreen">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="ytadfree99.YouTubeAdFree" package="ytadfree99" required_version="3.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <tizen:metadata key="http://tizen.org/metadata/app_ui_type/base_screen_resolution" value="fullscreen"/>
    <name>YouTube AdFree</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:profile name="tv"/>
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto"/>
    <tizen:app-control>
        <tizen:src name="index.html" reload="disable"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/default"/>
    </tizen:app-control>
    <tizen:allow-navigation href="*"/>
</widget>
